/*
Color palette:
Black: #080708
Platinum: #CCDBDC
Non Photo Blue: #80CED7
Tiffany Blue: #63C7B2
Chinese Violet: #8E6C88

*/

body {
  background-color: #080708;
}

.main-space {
  background-color: #ccdbdc;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 1400px;
}

.banner .profile-pic {
  display: inline;
  margin-left: 100px;
  margin-top: 30px;
}

.banner #name {
  display: inline;
  margin-left: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.banner-box {
  background-color: #080708;
  padding-right: 400px;
  padding-top: 100px;
  padding-bottom: 30px;
  border-radius: 10px;
  width: 80%;
}

h1 {
  font-size: 40px;
  color: #8e6c88;
}

.roles {
  margin-top: 40px;
  text-align: center;
}

/*------------- UNDER CONSTRUCTION PAGE ---------------*/
#construction-page {
  background-color: linen;
}

.construction-div {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linen;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
}

.construction-header {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
